{deps, [
    grisp,
    {epmd, {git, "https://github.com/erlang/epmd", {ref, "4d1a59"}}}
]}.

{erl_opts, [debug_info]}.

{plugins, [rebar3_grisp]}.

{grisp, [
    {otp, [
        {version, "26"}
    ]},
    {deploy, [
        {pre_script, "rm -rf /Volumes/EDGE_CARD/*"},
        {destination, "/Volumes/EDGE_CARD"},
        {post_script, "diskutil unmount /Volumes/EDGE_CARD"}
    ]}
]}.

{shell, [{apps, []}]}.

{relx, [
    {release, {robot, "0.1.0"}, [
        {epmd, none},
        robot
    ]}
]}.

% {edoc_opts,[{todo,true},{private,true}]}.

{ct_opts, [
    {sys_config, "./config/tests.config"},
    {keep_logs, 20}
]}.

{cover_enabled, true}.
%{cover_excl_mods, [pmod_uwb,
%                   robot,
%                   robot_sup,
%                   double_sided,
%                   double_sided_3_msg,
%                   ranging_utils,
%                   single_sided]}.

{dialyzer, [
    {warnings, [underspecs, no_return]}
]}.

{profiles, [
    {coordinator, [
        {relx, [
            {sys_config, "config/coordinator.config"}
        ]}
    ]},
    {initiator, [
        {relx, [
            {sys_config, "config/initiator.config"}
        ]}
    ]},
    {responder, [
        {relx, [
            {sys_config, "config/responder.config"}
        ]}
    ]}
]}.
