{deps, [
    grisp,
    {epmd, {git, "https://github.com/erlang/epmd", {ref, "4d1a59"}}}
]}.

{erl_opts, [debug_info]}.

{plugins, [
    rebar3_hex,
    rebar3_grisp
]}.


{grisp, [
    {otp, [{version, "26.0.2"}]},
    {deploy, [
        {pre_script, "rm -rf /Volumes/edge_card/*"},
        {destination, "/Volumes/edge_card"}, 
        {post_script, "diskutil unmount /Volumes/edge_card"}
    ]}
]}.

{shell, [{apps, []}]}.

{relx, [
    {release, {robot, "0.1.0"}, [{epmd, none}, robot]}
]}.